<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namestats.mapper.FacilityMapper">
	<insert id="insertFacility" parameterType="Facility">
		INSERT INTO facility (
		exfc_sn, dsgn_ymd, pfct_sn, rgn_cd, fcty_cd, rgn_nm, pfct_nm,
		rmk, inst_sn, inst_nm, lat_crts_vl, lot_crts_vl
		) VALUES (
		#{exfcSn}, #{dsgnYmd}, #{pfctSn}, #{rgnCd}, #{fctyCd}, #{rgnNm}, #{pfctNm},
		#{rmk}, #{instSn}, #{instNm}, #{latCrtsVl}, #{lotCrtsVl}
		)
	</insert>
	<delete id="deleteAllFacility">
		DELETE FROM facility;
	</delete>
	<select id="searchByRegionWithPaging" resultType="Facility">
		SELECT 
		    exfc_sn,
		    DATE_FORMAT(STR_TO_DATE(dsgn_ymd, '%Y%m%d'), '%Y-%m-%d') AS dsgn_ymd,
		    DATE_FORMAT(STR_TO_DATE(dsgn_ymd, '%Y%m%d'), '%Y') AS dsgn_year,
		    pfct_sn,
		    rgn_cd,
		    fcty_cd,
		    rgn_nm,
		    pfct_nm,
		    rmk,
		    inst_sn,
		    inst_nm,
		    lat_crts_vl,
		    lot_crts_vl
		FROM facility WHERE STR_TO_DATE(dsgn_ymd, '%Y%m%d') >= CURDATE() - INTERVAL 3 YEAR
		 <if test="regionName != null and regionName != ''">
        AND rgn_nm LIKE CONCAT('%', #{regionName}, '%')
    	</if>
		order by dsgn_ymd desc, rgn_cd
		LIMIT #{limit} OFFSET #{offset}
	</select>

	<select id="countByRegion" resultType="int">
		SELECT COUNT(*) FROM facility WHERE STR_TO_DATE(dsgn_ymd, '%Y%m%d') >= CURDATE() - INTERVAL 3 YEAR
		 <if test="regionName != null and regionName != ''">
        AND rgn_nm LIKE CONCAT('%', #{regionName}, '%')
    	</if>
	</select>
</mapper>
