<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namestats.mapper.RegionMapper">

    <select id="selectAllRegions" resultType="com.namestats.dto.RegionDto">
        SELECT region_cd, region_nm, dtl_region_cd, dtl_region_nm
        FROM js_code
        ORDER BY region_cd, dtl_region_cd
    </select>

</mapper>

