    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Google tag (gtag.js) 	-->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-3LSP4WH5WR"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-3LSP4WH5WR');
	</script>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KH3PDKHT');</script>
	<!-- End Google Tag Manager -->
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/common.js"></script>
    <!-- Font Awesome 아이콘 라이브러리 (CDN) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <meta name="description" content="아이 이름 순위부터 교육 정보, 도서 검색, 놀이시설까지! 우리 아이를 위한 모든 정보를 한 번에 찾는 kkidslife.com에서 확인해보세요.">
    <!-- Link to the site.webmanifest -->
    <!-- <link rel="manifest" href="/site.webmanifest"> -->

    <!-- Favicon links -->
    <link rel="icon" href="https://kkidslife.com/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://kkidslife.com/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="https://kkidslife.com/favicon-32x32.png" sizes="32x32" type="image/png">

    <!-- Apple Touch Icon for iOS -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    
    <!-- head 태그 안에 추가 -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9838709024288552" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=alr43rnex7&submodules=geocoder"></script>
	
	<link rel="canonical" th:href="${canonicalUrl}" />

    