<div th:fragment="facility-result-table">
    <table>
        <thead>
        <tr>
            <th>이름</th>
            <th>지역</th>
            <th>지정연도</th>
            <th>상세</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="f : ${facilities}">
            <td th:text="${f.pfctNm}">놀이터 이름</td>
            <td th:text="${f.rgnNm}">지역명</td>
            <td th:text="${f.dsgnYear}">연도</td>
			<td>
			    <button onclick="showFacilityDetail(this)"
						class="facility-check-btn"
						th:attr="data-name=${f.pfctNm},
				        		 data-year=${f.dsgnYear},
				        		 data-lat=${f.latCrtsVl},
				        		 data-lng=${f.lotCrtsVl},
				        		 data-desc=${f.fctyDesc},
				        		 data-image=${f.fctyImgPath}">				        
				    🔍
				</button>
			</td>
			
		</tr>
        </tbody>
    </table>
    <input type="hidden" id="totalCount" th:value="${totalCount}">
    <input type="hidden" id="totalPages" th:value="${totalPages}">
</div>
