<!DOCTYPE html>
<html lang="ko">
<head>
    <th:block th:replace="~{common.html}"></th:block>
    <meta property="og:type" content="website"> 
    <meta property="og:title" content="국립어린이청소년도서관 사서 추천 도서"> 
    <meta property="og:description" content="국립어린이청소년도서관 사서 추천 도서를 확인해보세요.">
    <meta property="og:url" content="https://kkidslife.com/searchRecommendedBookPage">
    <meta charset="UTF-8">
    <title>어린이/청소년 추천 도서</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="container">
	<div class="top-bar">
	    <div class="top-left" th:replace="~{nav.html}"></div>
	    <div class="top-center" th:replace="~{titlebar.html :: title-bar(centerClass='search-title', titleText='어린이/청소년 추천 도서')}"></div>
	    <p class="sr-only">국립어린이청소년도서관 사서 추천 도서를 확인해보세요.</p>
	    <div class="top-right"></div> <!-- 추후 버튼 등 위치용 -->
	</div>

    <div id="notice">
        국립어린이청소년도서관 사서 추천 도서를 확인해보세요.<br><br>
        데이터 출처 : <a href="https://nlcy.go.kr/NLCY/contents/C10600000000.do" target="_blank">국립어린이청소년도서관 사서 추천 도서</a>
    </div>
	<form id="recommendedbookSearchForm">
	    <div class="form-group">
	        <label for="year" class="recommendedbookSearchLabel">추천 연도 & 대상</label>
	        <select id="year" name="year">
	            <option value="">전체</option>
	            <option th:each="y : ${yearList}" th:value="${y}" th:text="${y}"></option>
	        </select>
	        
	        <select id="target" name="target">
	            <option value="">전체</option>
	            <option th:each="t : ${targetList}" th:value="${t}" th:text="${t}"></option>
	        </select>
		</div>
		<div class="form-group">
	        <label for="keyword" class="recommendedbookSearchLabel">키워드</label>
	        <input type="text" id="keyword" name="keyword" class="searchKeyword" placeholder="(옵션)책 제목, 저자 등">  
		</div>
		
		<div class="form-group" style="text-align: center;">
	        <input type="submit" value="검색">
	    </div>
	</form>
	
	<div id="recommendedbook-result-summary"></div>
	<div id="recommendedbook-result-table"></div>

</div>

<script>
	document.getElementById('recommendedbookSearchForm').addEventListener('submit', function (e) {
	    e.preventDefault();
	    const year = document.getElementById('year').value;
	    const target = document.getElementById('target').value;
	    const keyword = document.getElementById('keyword').value;
	
	    fetch(`/searchRecommendedBook?year=${year}&target=${target}&keyword=${encodeURIComponent(keyword)}`)
	        .then(res => res.text())
	        .then(html => {
	            document.getElementById('recommendedbook-result-table').innerHTML = html;
	        });
	});

    function viewKcisaBookDetail(btn) {
		const title = btn.getAttribute("data-title");
		const isbn = btn.getAttribute("data-isbn");
		const rmonth = btn.getAttribute("data-rmonth");
		
        fetch('/api/searchKcisaBook?title=' + encodeURIComponent(title) + '&isbn=' + isbn)
            .then(response => {
                if (!response.ok) throw new Error("도서 정보를 가져오지 못했습니다.");
                return response.json();
            })
            .then(book => {
                const detailHtml = `
                	<img src="${book.image}" alt="도서 이미지" class="book-image">                
                    <p>
                    <a href="/searchLibraryPage/${isbn}?title=${book.title}" target="_blank" class="library-link">
                        📚 이 도서를 소장한 도서관 찾기
                    </a>
                	</p>
                	<p><strong>제목:</strong> ${book.title}</p>
                    <p><strong>저자:</strong> ${book.rights}</p>
                    <p><strong>추천연월:</strong> ${rmonth} </p>
                    <p><strong>책소개:</strong> ${book.description}</p>
                `;
                document.getElementById('bookDetailArea').innerHTML = detailHtml;
                document.getElementById('bookModal').style.display = 'block';
            })
            .catch(error => {
                alert(error.message);
            });
    }

    function closeModal() {
        document.getElementById('bookModal').style.display = 'none';
    }
</script>	
</script>
</body>
</html>
