<!-- 검색 결과 테이블을 담은 fragment -->
    <!-- 성별 선택 탭 -->
    <div class="gender-tabs">
        <div id="T" class="gender-tab active" onclick="changeGender('T')">성별 통합</div>
        <div id="M" class="gender-tab" onclick="changeGender('M')">남</div>
        <div id="F" class="gender-tab" onclick="changeGender('F')">여</div>
    </div>
<div th:fragment="resultTable">
    <table id="t-table" class="result-table">
        <thead>
            <tr>
                <th>순위</th>
                <th>이름</th>
                <th>건수</th>
				<th>성비(%)</th>
                <!-- <th>상세내용</th> -->
            </tr>
        </thead>
        <tbody id="t-tboby">
            <tr th:each="stat : ${tResults}">
                <td th:text="${stat.targetRank}"></td>
                <td th:text="${stat.targetName}"></td>
                <td th:text="${#numbers.formatInteger(stat.targetCount, 1, 'COMMA')}"></td>
                <td>
                	<span class="mfratio" th:text="'🤴 ' + (${stat.mRate} < 10 ? '&nbsp;&nbsp;' : (${stat.mRate} < 100 ? '&nbsp;' : '')) + ${stat.mRate} + '%' +
                	' 👸 ' + (${stat.fRate} < 10 ? '&nbsp;&nbsp;' : (${stat.fRate} < 100 ? '&nbsp;' : '')) + ${stat.fRate} + '%'">
					</span>
				</td>
            </tr>
        </tbody>
    </table>
    <table id="m-table" class="result-table" style="display: none;">
        <thead>
            <tr>
                <th>순위</th>
                <th>이름</th>
                <th>건수</th>
                <!-- <th>비율(%)</th> -->
                <!-- <th>상세내용</th> -->
            </tr>
        </thead>
        <tbody id="m-tboby">
            <tr th:each="stat : ${mResults}">
                <td th:text="${stat.targetRank}"></td>
                <td th:text="${stat.targetName}"></td>
                <td th:text="${#numbers.formatInteger(stat.targetCount, 1, 'COMMA')}"></td>
                <!-- <td th:text="${stat.targetRate}"></td> -->
                <!-- <td>보기</td> -->
            </tr>
        </tbody>
    </table>
    <table id="f-table" class="result-table" style="display: none;">
        <thead>
            <tr>
                <th>순위</th>
                <th>이름</th>
                <th>건수</th>
                <!-- <th>비율(%)</th> -->
                <!-- <th>상세내용</th> -->
            </tr>
        </thead>
        <tbody id="f-tboby">
            <tr th:each="stat : ${fResults}">
                <td th:text="${stat.targetRank}"></td>
                <td th:text="${stat.targetName}"></td>
                <td th:text="${#numbers.formatInteger(stat.targetCount, 1, 'COMMA')}"></td>
                <!-- <td th:text="${stat.targetRate}"></td> -->
                <!-- <td>보기</td> -->
            </tr>
        </tbody>
    </table>
</div>

<!-- "더보기" 버튼 -->
<div id="loadMoreIcon" class="load-more-icon" onclick="loadMoreResults()">
    <i class="fas fa-arrow-down"></i> 더 보기
</div>